section {
  box-sizing: border-box;
  width: 100%;
  padding: 3%;
  font-family: 'Noto Sans';

  h3 {
    font-weight: 400;
  }
}

.homeSectionWrapper {
  h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
  }

  .right {
    display: flex;
    justify-content: right;
  }
}

.aboutMeWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 15%;

  h5 {
    font-size: 24px;
  }

  img {
    max-width: 20em;
  }
}
